*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build.gradle
app/app-release.apk
app/proguard-rules.pro
.idea/workspace.xml___jb_tmp___
